/* CSS styles for the dispense_drug.php page */
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.container h1 {
    font-family: Chalkduster;
    color: #005000;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.form-group input[type="text"] {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group button[type="submit"],
.form-group button.cancel-button {
    width: 49%;
    background-color: #005000;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.form-group button[type="submit"]:hover,
.form-group button.cancel-button:hover {
    background-color: #003300;
}
